@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
}

body{
    font-family: 'Helvetica';
}

.heroSection{
    /* background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),  url('../../public/assets/images/hero_background.jpg');
    background-position: center;
    background-size: cover; */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%230d0221' fill-opacity='0.12'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bigHeading{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: var(--blue);
}

/* .summary{
    margin: 30px;
    color: var(--cornflower-blue);
    font-size: 1.4rem;
    width: 70%;
    text-align: center;

} */

.heroSection button{
    font-family: Helvetica, sans-serif;
    background-color: var(--blue);
    border:0;
    font-size: 1rem;
    margin: 15px;
    padding: 7px;
    border-radius: 14px;
}

.heroSection a{
    text-decoration: none;
    color: var(--text-light);
}

/* Media Queries For Smartphones*/

@media screen and (max-width: 500px) {
    .bigHeading{
        font-size: 1.3rem;
    }    
}