.mainFooter{
    background-color: var(--dark);
    text-align: center;
    padding: var(--p-15);
    color: var(--text-light);
    padding-bottom: 20px;
}

.pMargin{
    margin:0;
}

.contactDetails{
    display: flex;
    justify-content: center;
    gap:10vw;
    margin: 20px;
}

/* Media Queries */

@media screen and (max-width: 500px) {
    .contactDetails{
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }
}