.mainHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--dark);
    color: var(--text-light);
    animation-name: appear;
    animation-duration: 2s;
    opacity: 0.9;
  }
  
  .leftNav{
    display: flex;
    align-items: center;
  }
  
  .leftNav img{
    padding-left: 10px;
    padding-bottom: 5px;
  }
  
  .leftNav span a{
    color:white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    padding-left: 12px;
  }
  
  .leftNav span a:hover{
    color: var(--blue);
  }
  
  .rightNav{
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0;
  }
  
  .rightNav li{
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  .linkStyle{
    text-decoration: none;
    color: var(--text-light);
  }


  .linkStyle:hover{
    color: var(--blue);
  }
  
  .stick_top{
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  /* Animations */
  @keyframes appear {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }

/* Media Queries */

@media screen and (max-width: 500px) {
  .mainHeader{
    flex-direction: column;
  }
  
  .rightNav{
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }

  .rightNav li{
    font-size: 1rem;
    padding: 1rem;
  }
}

  
