.imgDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgDesc img{
    height: 30vw;
    align-self: center;
    border-radius: 50%;
    margin: 40px;
}

.imgDesc p{
    font-size: 1.3rem;
    width: 80%;
    color: var(--midnight-blue);
}