.mainHeading{
  color: var(--blue);
  text-align: center;
  padding: var(--p-10);
  /* background-color: var(--midnight-blue); */
}

.mainTitle{
  font-weight: 800;
  background: linear-gradient(45deg, var(--midnight-blue) 20%, var(--blue));
  font-size: var(--heading);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 30px 0px;
}

.downloadDiv{
  display: flex;
  justify-content: center;
}

.downloadDiv button{
  font-family: Helvetica, sans-serif;
  background-color: var(--midnight-blue);
  color: var(--text-light);
  font-weight: bold;
  font-size: var(--body-text);
  border:0;
  margin: 15px;
  padding: var(--p-15);
  border-radius: 14px;
}

.downloadDiv button{
  font-family: Helvetica, sans-serif;
  background-color: var(--midnight-blue);
  color: var(--text-light);
  font-weight: bold;
  font-size: var(--body-text);
  border:0;
  margin: 15px;
  padding: var(--p-15);
  border-radius: 14px;
}

.downloadDiv button:hover{
  background-color: var(--blue);
}

.cvContainer{
  display: flex;
  justify-content: center;
}